<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotao.mapper.ItemMapper">
	
	<resultMap type="com.taotao.pojo.TbItem" id="aaa">
		<id column="id" property="id"/>
		<result column="title" property="title"/>
		<result column="sell_point" property="sellPoint"/>
		<result column="price" property="price"/>
		<result column="num" property="num"/>
		<result column="barcode" property="barcode"/>
		<result column="image" property="image"/>
		<result column="cid" property="cid"/>
		<result column="status" property="status"/>
		<result column="created" property="created"/>
		<result column="updated" property="updated"/>	
	</resultMap>
	
	<!-- 分页查询 -->
	<select id="findItemList" resultMap="aaa" parameterType="map">
		select * from tb_item order by created desc limit #{page},#{rows}
	</select>
	
	<!-- 统计总记录数 -->
	<select id="count" resultType="int">
		select count(*) from tb_item 
	</select>

	<!-- 添加商品表 -->
	<insert id="saveItem" parameterType="com.taotao.pojo.TbItem"  >
		insert into tb_item
		 values(#{id},#{title},#{sellPoint},#{price},#{num},#{barcode},#{image},#{cid},#{status},#{created},#{updated});
	</insert>
	
	
	<!-- 添加商品描述 -->
	<insert id="saveItemDesc" parameterType="com.taotao.pojo.TbItemDesc">
		insert into tb_item_desc
		 values(#{itemId},#{itemDesc},#{created},#{updated});
	</insert>
	
	<!-- 添加商品规格 -->
	<insert id="saveItemParamItem" parameterType="com.taotao.pojo.TbItemParamItem">
		insert into tb_item_param_item 
			values(null,#{itemId},#{paramData},#{created},#{updated});
	</insert>
	
	<!-- 删除商品详细规格 -->
	<delete id="deleteItemParamItem" parameterType="long">
		delete from tb_item_param_item where item_id = #{value}
	</delete>
	
	<!-- 删除商品描述 -->
	<delete id="deleteItemDesc" parameterType="long">
		delete from tb_item_desc where item_id = #{value}
	</delete>
	
	<!-- 删除商品 -->
	<delete id="deleteItem" parameterType="long">
		delete from tb_item where id = #{value}
	</delete>
	
	<resultMap type="com.taotao.pojo.TbItemDesc" id="itemdesc">
		<result column="item_id" property="itemId"></result>
		<result column="created" property="created"></result>
		<result column="updated" property="updated"></result>
		<result column="item_desc" property="itemDesc"></result>
	</resultMap>
	
	<!-- //通过商品ID查询商品描述 -->
	<select id="queryItemDescByItemId" resultMap="itemdesc" parameterType="long">
		select * from tb_item_desc where item_id = #{value}
	</select>
	
	<!-- 修改商品 -->
	<update id="updateItem" parameterType="com.taotao.pojo.TbItem">
		update tb_item set
		title=#{title},sell_point=#{sellPoint},price=#{price},num=#{num},barcode=#{barcode},
		image=#{image},cid=#{cid},status=#{status},created=#{created},updated=#{updated}
		where id = #{id}
	</update>
	
	<!-- 修改商品描述 -->
	<update id="updateItemDesc" parameterType="com.taotao.pojo.TbItemDesc">
		update tb_item_desc set item_desc=#{itemDesc},created=#{created},updated=#{updated} where item_id =#{itemId}
	</update>
	
	<!-- 修改商品规格 -->
	<update id="updateItemParamItem" parameterType="com.taotao.pojo.TbItemParamItem">
		update tb_item_param_item set param_data=#{paramData},created=#{created},updated=#{updated} where item_id =#{itemId}
	</update>
	
	<!-- 商品下架 -->
	<update id="updateItemStatus" parameterType="com.taotao.pojo.TbItem">
		update tb_item set status=#{status} where id =#{id}
	</update>

	<!-- 商品上架 -->
	<update id="updateItemStatusToOne" parameterType="com.taotao.pojo.TbItem">
		update tb_item findAllByTbitemset status=#{status} where id =#{id}
	</update>
	<select id="findAllByTbitem" resultType="com.taotao.mapper.ItemSolrBean">
	SELECT a.id,a.title,a.sell_point,a.price,a.image,b.item_desc,c.name FROM tb_item as a
	INNER JOIN tb_item_desc b ON a.id=b.item_id
	INNER JOIN tb_item_cat c ON  c.id=a.cid
	</select>
</mapper>